    *{
        padding:0;
        box-sizing:border-box;
        margin:0;
    }

    body{
        height:100%;
        width:100vw;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        background: linear-gradient(90deg, rgba(255,83,48,0.12068965517241381) 2%, rgba(255,248,247,1) 17%, rgba(255,255,255,1) 88%, rgba(255,43,0,0.11853448275862066) 100%);
        overflow-x:hidden
    }

    header{
        height: 85px;
        width:100vw;    
        border-bottom:5px  #fcccccc2;
        border-style: groove;

        /* background: linear-gradient(35deg, rgba(255,83,48,0.22) 4%, rgba(255,248,247,1) 18%, rgba(255,255,255,1) 80%, rgba(255,43,0,0.21982758620689657) 96%); */
        position:static
    }

    .container{
        margin: auto;
        width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .container .Text-logo {
        padding: 15px;
        cursor:pointer;
        transition: transform ease 100ms
    }

    header .container .Text-logo p{
        font-size: 1.7rem;
        color: rgb(230, 8, 8);
        text-shadow: 1px 1px 3px #fff;
    }

    header .container .Text-logo:hover{
        transform: scale(1.05)
    }

    header .container .Img-logo img{
        width: 50px;
        height: 50px
    }

    header .container .search-input{
        cursor: pointer;
        position: relative;
        width: 250px;
        transition: all ease 100ms    
    }
    
    header .container .search-input:hover{
        transform: scale(1.05);
    }

    header .container .search-input input{
        overflow: hidden;
        width: 100%;
        padding: 8px 16px;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 10px;
        outline:none;
    }


    header .container .search-input input::placeholder{
        color:#fff
    }

    header .container .search-input .search-icon {
        position: absolute;
        top: 4px;
        right: 8px;
    }

    header .container .search-input .search-icon img{
        width: 20px;
        height: 20px
    }

    header .container p{
        display:flex;
        flex-direction:column-reverse;
        align-items:center;
        justify-content: center;
        gap:5px;
        cursor:pointer;
        padding: 5px;
        margin-top:5px;
        font-weight:bold;
        transition: transform ease 300ms
    }

    header .container p:hover{
        transform: scale(1.08)
    }

    header .container p img{
        height: 35px;
        width: 35px
    }

    .slider{
        border-radius:10px;
        height:calc(100vh - 85px);
        background: url('/Assets/SliderImgs/cakeSlide.jpg');
        background-repeat:no-repeat;
        background-repeat:no-repeat;
        background-position: center;
        background-size:cover;
        overflow: hidden;
        color: #fff;
        margin-top: 30px;   
        margin-bottom: 80px;
        border:none;
        border-bottom:10px groove #fcccccc2;
    box-shadow: 8px 8px 11px -8px rgba(241, 131, 131, 0.8);
    }

    .slider .shadow-slide{
        height:inherit;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.4);
        flex-direction: column;
        text-align: center;
        position:relative
    }

    .slider .shadow-slide .description span{
        background-color:#f00;
        border-radius: 10px;
        padding: 6px 14px;
        font-weight: bold;
    }

    .slider .shadow-slide .description h1{
        font-size: 4rem;
        margin-top:50px;
        margin-bottom: 35px;
    }

    .slider .shadow-slide .description .infos{
        display: flex;
        justify-content: space-around;
    }
    
    .slider .shadow-slide .description p{
        display: flex;
        align-items: center;
        gap:5px;
        font-weight:bold
    }

    .slider .shadow-slide .description p img{
        height: 25px;
        width: 35px;
    }

    .slider .shadow-slide .slider-lines{
        position:absolute;
        bottom: 50px;
        display: flex;
        gap: 25px;
    }

    .slider .shadow-slide .slider-lines .line{
        height: 6px;
        width: 140px;
        border-radius: 20px;
        background: rgba(255,255,255,.4);
    }

    .slider .shadow-slide .slider-lines .line .filledLine{
        height:inherit;
        width: 0px;
        background-color:#fff;
        border-radius: 20px;
        animation: LineAnimation 3s linear infinite;
    }

    @keyframes LineAnimation{
        0%{
            width: 0%;
        }
        100%{
            width:100%
        }   
    }

    .default{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        margin-top: 50px
    }
    
    .default .content{
        
    }
    .default .content h1{
        text-align:center;
        font-size:2rem;
        font-weight:bold;
        margin-bottom: 40px
    }
    
    .default .content .info-items{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 30px;
        gap:  30px;
    }

    .default .content .info-items .item{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height: 350px;
        border: 1px solid #000;
        border-radius: 15px
    }

    .default .content .info-items .item .areaImg,
    .default .content .info-items .item .items-content{
        flex:1;
    }

