*{
    padding:0;
    box-sizing:border-box;
    margin:0;
}

body{
    height:100%;
    width:100vw;
}

header{
    height: 100px;
    width:100vw;    
    background: linear-gradient(90deg, rgba(226,137,137,0.6508620689655172) 16%, rgba(255,0,0,0.5581896551724138) 34%);
}

.container{
    margin: auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .Text-logo {
    padding: 15px;
    cursor:pointer;
    transition: transform ease 100ms
}

header .container .Text-logo p{
    font-size: 1.7rem;
    color: rgb(230, 8, 8);
    text-shadow: 1px 1px 3px #fff;
}

header .container .Text-logo:hover{
    transform: scale(1.05)
}

header .container .Img-logo img{
    width: 50px;
    height: 50px
}

header .container .search-input{
    cursor: pointer;
    position: relative;
    width: 250px;
}

header .container .search-input input{
    overflow: hidden;
    width: 100%;
    background-color: #ee6e6e;
    padding: 8px 16px;
    color:#fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    outline:none;
}

header .container .search-input input::placeholder{
    color:#fff
}

header .container .search-input .search-icon {
    position: absolute;
    top: 4px;
    right: 8px;
}

header .container .search-input .search-icon img{
    width: 20px;
    height: 20px
}

header .container p img{
    height: 40px;
    width: 40px
}